.discussions {
  width: 105.2rem;
  margin: 2rem 0 0px 4rem;

  border-radius: 3px;
  border: 1px solid #ececec;
}

.discussions .content {
  position: relative;
}

.discussions .content .info-title {
  padding: 1rem;
  height: 4.5rem;

  font: 500 2rem Roboto, sans-serif;
  color: #4e4e4e;
  line-height: 2.5rem;
  background: #fdf1eb;
}

.discussions .content > h1 {
  height: 2.5rem;
  margin-top: 1.6rem;

  font: 700 1.8rem Roboto, sans-serif;
  color: var(--cor-de-destaque);
  text-align: center;
}

.discussions .content .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.5rem;

  margin-top: 2.4rem;
}

.discussions .content > h2 {
  width: 62.6rem;
  margin: 3.4rem auto 2rem auto;

  font: 400 14px Quicksand, sans-serif;
  line-height: 137.5%;
  color: #595959;
  text-align: center;
}

.discussions .content .create-icon {
  position: absolute;
  top: 95.6%;
  left: 44.3%;
  z-index: 1;
}

.discussions .content .btn-create-topic {
  width: 13.3rem;
  height: 3.2rem;
  padding-left: 1rem;

  border: none;
  border-radius: 4px;
  background-color: var(--cor-de-destaque);

  font: 700 1.5rem Quicksand, sans-serif;
  color: #fff;
  cursor: pointer;

  position: absolute;
  bottom: -4.9%;
  left: 43.5%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.discussions .content .dividing-line {
  width: 102rem;
  margin: 0 1.4rem;
}

.discussions .content .button-new-topic {
  width: 23.5145rem;
  height: 3.2rem;

  border: none;
  border-radius: 4px;
  background-color: var(--cor-de-destaque);

  font: 700 1.5rem/1.6rem Quicksand, sans-serif;
  color: #fff;
  cursor: pointer;

  position: absolute;
  left: 39%;
  top: 91%;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* cards de tópicos */
.discussions .cards {
  width: 102.8rem;
  // height: 29.6rem;
  margin: 2.5rem auto 1.5rem auto;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.discussions .cards .card-content {
  width: 102.8rem;
  height: 14.8rem;
  padding: 1rem 2rem;

  border-radius: 4px;
  border: 1px solid #e7e7e7;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
}

.discussions .cards .card-content .ops-topic-subject {
  color: var(--cor-de-destaque);
  font: 700 1.6rem Quicksand, sans-serif;
}

.discussions .cards .card-content h5 {
  font: 500 1.2rem Quicksand, sans-serif;
  color: #5c5c5c;
}

.discussions .cards .card-content .comments-container {
  font-family: Quicksand;
  font-size: 1.4rem;
  color: #4d4d4d;
  margin: 5px 0;
}

/* footer do card: ícones, like, resposta*/
.discussions .cards .card-footer {
  width: 16.5rem;
  height: 1.9rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.discussions .cards .card-footer .heart {
  color: #fff;
  left: 14.4%;
  top: -25%;
  font-size: 24px;
  position: absolute;
}

.discussions .cards .card-footer .quantity-like-and-response {
  color: #757575;
  font-family: Roboto;
  font-size: 1.4rem;
}

/* Botão de criar novo tópico */
.discussions .content .button-new-topic {
  width: 23.5145rem;
  height: 3.2rem;

  border: none;
  border-radius: 4px;
  background-color: var(--cor-de-destaque);

  font: 700 1.5rem/1.6rem Quicksand, sans-serif;
  color: #fff;
  cursor: pointer;

  position: absolute;
  left: 39%;
  top: 91%;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* cards de tópicos */
.discussions .cards {
  width: 102.8rem;
  // height: 29.6rem;
  margin: 2.5rem auto 1.5rem auto;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.discussions .cards .card-content {
  width: 102.8rem;
  height: 14.8rem;
  padding: 1rem 2rem;

  border-radius: 4px;
  border: 1px solid #e7e7e7;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
}

.discussions .cards .card-content .ops-topic-subject {
  color: var(--cor-de-destaque);
  font: 700 1.6rem Quicksand, sans-serif;
}

.discussions .cards .card-content h5 {
  font: 500 1.2rem Quicksand, sans-serif;
  color: #5c5c5c;
}

.discussions .cards .card-content .comments-container {
  font-family: Quicksand;
  font-size: 1.4rem;
  color: #4d4d4d;
  margin: 5px 0;
}

/* footer do card: ícones, like, resposta*/
.discussions .cards .card-footer {
  width: 16.5rem;
  height: 1.9rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}
