/* footer */
#footer {
  margin-top: 5rem;
  margin-left: 24rem;
}

.card-footer {
  display: flex;
  align-items: center; /* Centralizar verticalmente */
  justify-content: center; /* Centralizar horizontalmente */
}
